.THIS .headwidth  {
    width:75px !important;  
}
.THIS .cellwidth {
    width:100px !important;
    
}
.THIS .textcenter {
    text-align: center !important;
    
}

.THIS .textsize {
    font-size: 11px !important;  
}

.THIS .padding {
    padding-left: 10px !important;  
}

.THIS .remark {
    width: 10rem !important;  
}
.THIS label.uiLabel {
    display :none !important;
}